* {
    margin: 0;
    padding: 0;
}

.header {
    color: darkgoldenrod;
    background-image: url('../resources/Banner\ Image.png');
    border-radius: 16px;
    width: 1320px;
    height: 425px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 175px;
}


/* nav related styles */
.nav-title {
    font-size: 30px;
    font-weight: 400px;
    margin-bottom: 10px;
    font-style: normal;
}

.nav-greeting {
    font-size: 75px;
    margin-top: 10px;
}

/* section-1 related style */

.div-title {
    text-align: center;
    margin-top: 100px;
}

.div-off {
    color: red;
    font-size: 90px;
    margin-bottom: 40px;
}

.div-our {
    color: rgb(112, 22, 230);
    font-size: 25px;
    margin: 0;
}

.div-cetagories {
    color: rgb(132, 83, 9);
    font-size: 50px;
    font-weight: 700px;
    margin-bottom: 50px;
    margin-top: 0;
}

/* section-2 related style */
.div-middle {
    background-image: url('../resources/Vectorrr.png');
    width: 1320px;
    height: 600px;
    display: flex;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
}

.title {
    color: rgb(240, 240, 240);
    padding-left: 130px;
    margin-top: 150px;
    font-size: 60px;
    letter-spacing: 7px;
    margin-bottom: 20px;
}

.caption {
    padding-left: 130px;
    font-size: 18px;
    margin-bottom: 50px;
    color: rgba(255, 255, 255, 0.80);
    margin-top: 0px;
}

.btn {
    margin-left: 150px;
    width: 105px;
    height: 25px;
    text-transform: uppercase;
    background-color: rgb(14, 13, 13);
    color: aliceblue;
    border: none;
    font-size: 20px;

}

.image {
    width: 320px;
    height: 465px;
    padding-left: 185px;
    padding-top: 50px;
}

/* section-3 related style */
.about-info {
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
    width: 1320px;
    height: 600px;
    margin-top: 100px;
    padding-top: 120px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    border-radius: 20px;

}


.about-title {
    color: red;
}

.description {
    color: rgb(14, 48, 37);
}

.button-join {
    align-items: center;
    gap: 10px;
    background-color: red;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    color: white;
    margin-top: 50px;
    font-size: 20px;
}

/* section-4-style */
.section-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-4>div {
    width: 30%;
    padding: 100px 140px;
}

.circle {
    border: 10px #f00 solid;
    border-radius: 350px;
    height: 350px;
    width: 350px;
    padding: 20px;
}

.circle-image {
    height: 350px;
    width: 350px;
}

.circle-image>img {
    height: 350px;
    width: 350px;
}

.best-offer-title {
    color: #F00;
    font-size: 18px;
    font-weight: 500;
}

.best-offer-caption {
    color: #511bbd;
    font-family: Merriweather;
    font-size: 50px;
}

.best-offer-describtion,
.year-describtion {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 40px;
}

.year {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
}



/* section-6 related style */
.portfolio-cetagories {
    background-color: white;
    width: 1320px;
    height: 700px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
}

.portfolio-title {
    color: blue;
    font-size: 25px;
}

.portfolio-caption {
    color: aqua;
    font-size: 50px;
}

.portfolio-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
}

.regtangle-first {
    padding-right: 20px;
    margin-top: 48px;
}

.regtangle-third {
    padding-left: 20px;
}

.regtangle-fourth {
    padding-right: 20px;
    padding-top: 20px;
}

.regtangle-sixth {
    padding-left: 20px;
}

/* section-7 related style */
.section-7 {
    margin-top: 600px;
    background: rgba(255, 0, 0, 0.05);
    width: 1320px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-top: 90px;
    border-radius: 20px;
}

.subscribe-title {
    color: #2e0680;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    margin-top: 50px;
    padding-bottom: 25px;
}

.subscribe-caption {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
}

.section-7 .subs-input{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.section-7 input{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 500px;
    height: 72px;
    border: none;
}

.section-7 input::placeholder{
    color: rgba(7, 2, 17, 0.30);
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
  
}

.section-7 label{
    padding: 26px;
    padding-top: 22px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    color: #fff;
    background-color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600px;
    
    
}


/* footer related style */
.footer-coloum {
    background-color: black;
    color: aliceblue;
    margin-top: 100px;
    width: 1600px;
    height: 650px;

}

.footer-section-1 {
    padding: 120px 291px 90px 140px;
}

.footer-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-image-call {
    width: 24px;
    height: 24px;
}

.footer-address {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    font-size: 25px;
    font-family: sans-serif;
}



.website,
.num-web-coloum {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500px;
}

.website .footer-image-web {
    width: 24px;
    height: 24px;
}

/* horizontal-line-style */
.horizontal-line {
    width: 1320px;
    height: 1px;
    color: blue;
    margin-right: auto;
    margin-left: auto;
}

/* footer-site-img style */
.footer-site-img {
    text-align: center;
    padding: 50px 630px 50px 600px;

}


.instagram {
    margin-left: 25px;
}

.twitter {
    margin-left: 25px;
}

.linkedin {
    margin-left: 25px;
}

/* horizontal-line-2 -style */
.horizontal-line-2 {
    width: 1320px;
    height: 1px;
    margin-right: auto;
    margin-left: auto;
}

/* footer-last-style */
.footer-last {
    display: flex;
    justify-content: space-between;

}

.reserved {
    padding-top: 50px;
    padding-left: 140px;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 500px;
}

.unsubscribe {
    padding-top: 50px;
    padding-right: 140px;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 500px;
}