.header {
    color: hsla(185, 98%, 51%, 0.945);
    background-image: url('../resources/Banner\ Image.png');
    width: 1320px;
    height: 425px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 16px;
    padding-top: 175px;
}


/* nav related styles */
.nav-title {
    font-size: 30px;
    font-weight: 400px;
    margin-bottom: 10px;
    font-style: normal;
}

.nav-greeting {
    font-size: 75px;
    margin-top: 10px;
}

/* caption related style */

.div-title {
    text-align: center;
    margin-top: 100px;
}

.div-off {
    color: red;
    font-size: 90px;
    margin-bottom: 40px;
}

.div-our {
    color: rgb(112, 22, 230);
    font-size: 25px;
    margin: 0;
}

.div-cetagories {
    color: rgb(132, 83, 9);
    font-size: 50px;
    font-weight: 700px;
    margin-bottom: 50px;
    margin-top: 0;
}

.div-middle {
    background-image: url('../resources/Vectorrr.png');
    width: 1320px;
    height: 600px;
    display: flex;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
}

.title {
    color: red;
    padding-left: 130px;
    margin-top: 150px;
    font-size: 60px;
    letter-spacing: 7px;
    margin-bottom: 20px;
}

.caption {
    padding-left: 130px;
    font-size: 15px;
    margin-bottom: 50px;
    color: aqua;
    margin-top: 0px;
}

.btn {
    margin-left: 150px;
    width: 105px;
    height: 25px;
    text-transform: uppercase;
    background-color: rgb(14, 13, 13);
    color: aliceblue;

}

.image {
    width: 320px;
    height: 465px;
    padding-left: 185px;
    padding-top: 50px;
}

.about-info {
    background-color: bisque;
    width: 1320px;
    height: 480px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-top: 120px;
    margin-top: 100px;
    font-size: 30px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;

}


.about-title {
    color: red;
}

.description {
    color: rgb(14, 48, 37);
}

.button {
    width: 160px;
    height: 55px;
    font-size: 20px;
    background-color: red;
    color: aliceblue;
    text-transform: uppercase;
}

.portfolio-cetagories {
    background-color: white;
    width: 1320px;
    height: 700px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
}

.portfolio-title {
    color: blue;
    font-size: 25px;
}

.portfolio-caption {
    color: aqua;
    font-size: 50px;
}

.portfolio-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
}

.regtangle-first {
    padding-right: 20px;
    margin-top: 48px;
}

.regtangle-third {
    padding-left: 20px;
}

.regtangle-fourth {
    padding-right: 20px;
    padding-top: 20px;
}

.regtangle-sixth {
    padding-left: 20px;
}

.subscribe{
    margin-top: 600px;
    background-color: rgb(250, 220, 182);
    width: 1320px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-top: 90px;
}

.subscribe-title{
    color: #2e0680;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
}
.subscribe-caption{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
}
.footer-coloum{
    background-color: black;
    margin-top: 100px;
    color: aliceblue;
    height: 650px;
}


